
.my-background{
    background-color: rgb(194, 65, 14);
}

.my-green{
    width: 50%; 
    height: 200px; 
    background-color: green;
    border:solid;
    margin: 10px;
}
.my-blue{
    width: 50%; 
    height: 200px; 
    background-color: blue;
    border:solid;
    margin: 10px;
}
.my-yellow{
    width: 50%; 
    height: 200px; 
    background-color: yellow;
    border:solid;
    margin: 10px;
}

.my-green-circle{
    height:100px;
    width: 100px;
    background-color: rgb(55, 158, 105);
    border-radius:100%;
    display: Linline-block;
    border:solid;
    margin-left:90px;
    margin-top:50px;
}
.my-red-circle{
    height:100px;
    width: 100px;
    background-color: rgb(205, 23, 17);
    border-radius:100%;
    display: Linline-block;
    border:solid;
    margin-left:90px;
    margin-top:50px;
}
.my-yellow-circle{
    height:100px;
    width: 100px;
    background-color: rgb(234, 255, 0);
    border-radius:100%;
    display: Linline-block;
    border:solid;
    margin-left:90px;
    margin-top:50px;
}